# ─── Django ──────────────────────────────────────────────────────────────────
backend_django/venv/
backend_django/.venv/
backend_django/db.sqlite3
backend_django/*.pyc
frontend_react/skills

# ─── React ───────────────────────────────────────────────────────────────────
frontend_react/node_modules/
frontend_react/dist/

# ─── General ─────────────────────────────────────────────────────────────────
.vscode/
**/__pycache__/
**/*.pyc
**/*.pyo
*.env
.env
.env.*
.DS_Store

# ─── Archivos sensibles — NUNCA subir ────────────────────────────────────────
*.sqlite3
*.db
